[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/local/bin/kubelet \
  --api_servers=http://127.0.0.1:8080 \
  --register-node=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ansible_default_ipv4.address}} \
  --cluster-dns={{DNS_SERVICE_IP}} \
  --cluster-domain=cluster.local \
  --cloud-provider={{CLOUD_PROVIDER}} \
  --cadvisor-port=0

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
