apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    server: {{MASTER_URL}}
    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: admin
  user:
    client-certificate: ./admin-user.pem
    client-key: ./admin-user-key.pem
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: kubernetes-context
current-context: kubernetes-context

